<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/movies.css">
    <link rel="stylesheet" href="css/home.css">

</head>
<body>
     <!-- NAV -->
     <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <div class="nav-items">
                    <a href="/home" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    </a>
                    <ul class="nav-menu" id="nav-menu">
                        <li><a href="/home" class="active">Home</a></li>
                        <li><a href="/movies" >Movies</a></li>
                        <li><a href="/series">Series</a></li>
                    </ul>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->

    <div class="body_container">
        <h1 class="heading">Welcome.</h1>
        <h2>Millions of movies, TV shows and people to discover. Explore now.</h2>
        <form id="form" class="form">
            <input type="search" name="q" placeholder="Search for a movies , tv shows ......." id="search" class="search">
            <!-- <i class='bx bx-x close' onclick="document.location.reload(true)"></i> -->
        </form>
    </div>
        <div class="results_m">
            <div class="heading_m" id="heading_m"></div>
            <div class="main" id="main"></div>
        </div>
        <div class="results_s">
            <div class="heading_s" id="heading_s"></div>
            <div class="series" id="series"></div>
        </div>

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <script src="js/api.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/home.js"></script>
</body>
</html>