<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/movies.css">
    <!-- <link rel="stylesheet" href="css/home.css"> -->
</head>
<body>
    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <div class="nav-items">
                    <a href="/movies" class="logo">
                        <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                    </a>
                    <ul class="nav-menu" id="nav-menu">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/movies" class="active">Movies</a></li>
                        <li><a href="/series">Series</a></li>
                    </ul>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->

    <header  id="banner">
        <div id="banner__contents">
            <h1 id="banner__title"></h1>
            
            <p id="banner__description"></p>
          </div>
          <div id="banner__fadeBottom"></div>
        </header>
        <div class="main"></div>
        <div class="results"></div>
    <!-- <div class="main">
        <div class="movie-list">

            <button class="pre-btn"> <h1><</h1></button>

           <h1 class="movie-category">Popular movies</h1>
           <div class="movie-container">
               <div class="movie">
                   <img src="images/cartoons/demon-slayer.jpg" alt="">
                   <p class="movie-title">movie name</p>
               </div>
           </div>

           <button class="nxt-btn"><h1>></h1>  </button>
       </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>

    <script src="js/api.js"></script>
    <script src="js/scroll.js"></script>
    <script src="js/movies.js"></script>
</body>
</html>